<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="title">
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <!--<span class="heading">Administración</span>
  <ul class="list-unstyled">
    <li> <a href="#"> <i class="icon-flask"></i>Usuarios </a></li>
    <li> <a href="#"> <i class="icon-screen"></i>Parámetros </a></li>
  </ul>-->
  <span class="heading">Transaction</span>
  <ul class="list-unstyled">
    <li> <a [routerLink]="['../transaction']"> <i class="icon-list"></i>Transaction </a></li>
    <li> <a [routerLink]="['../charts']"> <i class="icon-pipe"></i>Machine statics </a></li>
    <li> <a [routerLink]="['../compliance']"> <i class="icon-pipe"></i>Compliance Status</a></li>

  </ul>
  <!--<span class="heading">Jóvenes y adolescentes</span>
  <ul class="list-unstyled">
    <li> <a href="#"> <i class="icon-screen"></i>Iglesias </a></li>
    <li> <a href="#"> <i class="icon-flask"></i>Miembros </a></li>
  </ul>-->
</nav>
